<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/profile.css">
</head>
<body>
    <form action = "/logout">
    <button id = "log">Logout</button>
    </form><br>
    <h1>Hey, <%= user.username %> 👋</h1><br><br>
    <a href = "http://localhost:5173/">Go to Homepage</a><br><br>
    <a id = "joke" href = "http://localhost:5173/jokes">Read Jokes 😂</a>
</body>
</html>