<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel = "stylesheet" type = "text/css" href = "/stylesheets/register.css">
</head>
<body>
     <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <div class="container">
        <h1>Create Account</h1>
        <form action = "/register" method = "post" id="registrationForm">
            <div class="form-group">
                <input name = "username" type="text" id="username" placeholder=" " required>
                <label for="username">Username</label>
            </div>
            <div class="form-group">
                <input name = "email" type="email" id="email" placeholder=" " required>
                <label for="email">Email</label>
            </div>
            <div class="form-group">
                <input name = "password" type="password" id="password" placeholder=" " required>
                <label for="password">Password</label>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
    <style src = "/public/javascripts/register.js"></style>
</body>
</html>